wsdls-Yahoo/I13-AdGroupService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://marketing.ews.yahooapis.com/V6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>6.1.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="accountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="addAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroup" nillable="true" type="tns:AdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroups" nillable="true" type="tns:ArrayOfAdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:BasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfBasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupAdCount">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupAdCountResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupContentMatchMaxBid">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupContentMatchMaxBidResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupExcludedWordsCount">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupExcludedWordsCountResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupKeywordCount">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupKeywordCountResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupSponsoredSearchMaxBid">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupSponsoredSearchMaxBidResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupsByCampaignID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="startElement" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="numElements" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupsByCampaignIDByStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupStatus" nillable="true" type="tns:AdGroupStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupsByCampaignIDByStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupsByCampaignIDResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getContentMatchMinBidForAdGroupOptimizationGuidelines">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOptimizationGuidelinesForAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOptimizationGuidelinesForAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupOptimizationGuidelines"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelines">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSponsoredSearchMinBidForAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDouble"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="moveAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="destinationCampaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="newAdGroupName" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="moveAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:BasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="setAdGroupContentMatchMaxBid">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="maxBid" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setAdGroupContentMatchMaxBidResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setAdGroupSponsoredSearchMaxBid">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="maxBid" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setAdGroupSponsoredSearchMaxBidResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setOptimizationGuidelinesForAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="optimizationGuidelines" nillable="true" type="tns:AdGroupOptimizationGuidelines"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setOptimizationGuidelinesForAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupOptimizationGuidelinesResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="splitAdGroupBasedOnTactic">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="splitAdGroupBasedOnTacticResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroup" nillable="true" type="tns:AdGroup"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroups" nillable="true" type="tns:ArrayOfAdGroup"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:AdGroupStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdGroups">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupIDs" nillable="true" type="tns:ArrayOfLong"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:AdGroupStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdGroupsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdGroupResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="AdGroupStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Off"/>
                    <xsd:enumeration value="Deleted"/>
                    <xsd:enumeration value="On"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BidStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Active"/>
                    <xsd:enumeration value="PendingDeactivation"/>
                    <xsd:enumeration value="NotApplicable"/>
                    <xsd:enumeration value="Inactive"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Importance">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                    <xsd:enumeration value="None"/>
                    <xsd:enumeration value="High"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="AdGroup">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="adAutoOptimizationON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="advancedMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="campaignID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="contentMatchBidStatus" nillable="true" type="tns:BidStatus"/>
                    <xsd:element minOccurs="0" name="contentMatchMaxBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="contentMatchMaxBidTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="contentMatchMinBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="contentMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="deleteTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMaxBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMaxBidTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="status" nillable="true" type="tns:AdGroupStatus"/>
                    <xsd:element minOccurs="0" name="watchON" nillable="true" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupOptimizationGuidelines">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CPA" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="CPC" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="CPM" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="ROAS" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="adGroupID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="averageConversionRate" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="averageRevenuePerConversion" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="campaignID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="contentMatchMaxBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="conversionImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="impressionImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="leadImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMaxBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMinPosition" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMinPositionImportance" nillable="true" type="tns:Importance"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupOptimizationGuidelinesResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="adGroupOptimizationGuidelines" nillable="true" type="tns:AdGroupOptimizationGuidelines"/>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="adGroup" nillable="true" type="tns:AdGroup"/>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAdGroup">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdGroup" nillable="true" type="tns:AdGroup"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAdGroupResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdGroupResponse" nillable="true" type="tns:AdGroupResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBasicResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="BasicResponse" nillable="true" type="tns:BasicResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDouble">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="double" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfError">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" nillable="true" type="tns:Error"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLong">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfWarning">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Warning" nillable="true" type="tns:Warning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BasicResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Warning">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </xsd:schema>
        
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="accountID">
        <wsdl:part element="tns:accountID" name="accountID"/>
    </wsdl:message>
    <wsdl:message name="addAdGroupRequest">
        <wsdl:part element="tns:addAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdGroupResponse">
        <wsdl:part element="tns:addAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdGroupsRequest">
        <wsdl:part element="tns:addAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdGroupsResponse">
        <wsdl:part element="tns:addAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="deleteAdGroupRequest">
        <wsdl:part element="tns:deleteAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdGroupResponse">
        <wsdl:part element="tns:deleteAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdGroupsRequest">
        <wsdl:part element="tns:deleteAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdGroupsResponse">
        <wsdl:part element="tns:deleteAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupAdCountRequest">
        <wsdl:part element="tns:getAdGroupAdCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupAdCountResponse">
        <wsdl:part element="tns:getAdGroupAdCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupContentMatchMaxBidRequest">
        <wsdl:part element="tns:getAdGroupContentMatchMaxBid" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupContentMatchMaxBidResponse">
        <wsdl:part element="tns:getAdGroupContentMatchMaxBidResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupExcludedWordsCountRequest">
        <wsdl:part element="tns:getAdGroupExcludedWordsCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupExcludedWordsCountResponse">
        <wsdl:part element="tns:getAdGroupExcludedWordsCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupKeywordCountRequest">
        <wsdl:part element="tns:getAdGroupKeywordCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupKeywordCountResponse">
        <wsdl:part element="tns:getAdGroupKeywordCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupRequest">
        <wsdl:part element="tns:getAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupResponse">
        <wsdl:part element="tns:getAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupSponsoredSearchMaxBidRequest">
        <wsdl:part element="tns:getAdGroupSponsoredSearchMaxBid" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupSponsoredSearchMaxBidResponse">
        <wsdl:part element="tns:getAdGroupSponsoredSearchMaxBidResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsByCampaignIDByStatusRequest">
        <wsdl:part element="tns:getAdGroupsByCampaignIDByStatus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsByCampaignIDByStatusResponse">
        <wsdl:part element="tns:getAdGroupsByCampaignIDByStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsByCampaignIDRequest">
        <wsdl:part element="tns:getAdGroupsByCampaignID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsByCampaignIDResponse">
        <wsdl:part element="tns:getAdGroupsByCampaignIDResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsRequest">
        <wsdl:part element="tns:getAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdGroupsResponse">
        <wsdl:part element="tns:getAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getContentMatchMinBidForAdGroupOptimizationGuidelinesRequest">
        <wsdl:part element="tns:getContentMatchMinBidForAdGroupOptimizationGuidelines" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse">
        <wsdl:part element="tns:getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getOptimizationGuidelinesForAdGroupRequest">
        <wsdl:part element="tns:getOptimizationGuidelinesForAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getOptimizationGuidelinesForAdGroupResponse">
        <wsdl:part element="tns:getOptimizationGuidelinesForAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesRequest">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroupOptimizationGuidelines" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupRequest">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupResponse">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupsRequest">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSponsoredSearchMinBidForAdGroupsResponse">
        <wsdl:part element="tns:getSponsoredSearchMinBidForAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForAdGroupRequest">
        <wsdl:part element="tns:getStatusForAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForAdGroupResponse">
        <wsdl:part element="tns:getStatusForAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="moveAdGroupRequest">
        <wsdl:part element="tns:moveAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="moveAdGroupResponse">
        <wsdl:part element="tns:moveAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="setAdGroupContentMatchMaxBidRequest">
        <wsdl:part element="tns:setAdGroupContentMatchMaxBid" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setAdGroupContentMatchMaxBidResponse">
        <wsdl:part element="tns:setAdGroupContentMatchMaxBidResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setAdGroupSponsoredSearchMaxBidRequest">
        <wsdl:part element="tns:setAdGroupSponsoredSearchMaxBid" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setAdGroupSponsoredSearchMaxBidResponse">
        <wsdl:part element="tns:setAdGroupSponsoredSearchMaxBidResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setOptimizationGuidelinesForAdGroupRequest">
        <wsdl:part element="tns:setOptimizationGuidelinesForAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setOptimizationGuidelinesForAdGroupResponse">
        <wsdl:part element="tns:setOptimizationGuidelinesForAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="splitAdGroupBasedOnTacticRequest">
        <wsdl:part element="tns:splitAdGroupBasedOnTactic" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="splitAdGroupBasedOnTacticResponse">
        <wsdl:part element="tns:splitAdGroupBasedOnTacticResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:message name="updateAdGroupRequest">
        <wsdl:part element="tns:updateAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdGroupResponse">
        <wsdl:part element="tns:updateAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdGroupsRequest">
        <wsdl:part element="tns:updateAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdGroupsResponse">
        <wsdl:part element="tns:updateAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdGroupRequest">
        <wsdl:part element="tns:updateStatusForAdGroup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdGroupResponse">
        <wsdl:part element="tns:updateStatusForAdGroupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdGroupsRequest">
        <wsdl:part element="tns:updateStatusForAdGroups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdGroupsResponse">
        <wsdl:part element="tns:updateStatusForAdGroupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AdGroupService">
        <wsdl:operation name="addAdGroup">
            <wsdl:input message="tns:addAdGroupRequest" name="addAdGroupRequest"/>
            <wsdl:output message="tns:addAdGroupResponse" name="addAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="addAdGroups">
            <wsdl:input message="tns:addAdGroupsRequest" name="addAdGroupsRequest"/>
            <wsdl:output message="tns:addAdGroupsResponse" name="addAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAdGroup">
            <wsdl:input message="tns:deleteAdGroupRequest" name="deleteAdGroupRequest"/>
            <wsdl:output message="tns:deleteAdGroupResponse" name="deleteAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAdGroups">
            <wsdl:input message="tns:deleteAdGroupsRequest" name="deleteAdGroupsRequest"/>
            <wsdl:output message="tns:deleteAdGroupsResponse" name="deleteAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroup">
            <wsdl:input message="tns:getAdGroupRequest" name="getAdGroupRequest"/>
            <wsdl:output message="tns:getAdGroupResponse" name="getAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupAdCount">
            <wsdl:input message="tns:getAdGroupAdCountRequest" name="getAdGroupAdCountRequest"/>
            <wsdl:output message="tns:getAdGroupAdCountResponse" name="getAdGroupAdCountResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupContentMatchMaxBid">
            <wsdl:input message="tns:getAdGroupContentMatchMaxBidRequest" name="getAdGroupContentMatchMaxBidRequest"/>
            <wsdl:output message="tns:getAdGroupContentMatchMaxBidResponse" name="getAdGroupContentMatchMaxBidResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupExcludedWordsCount">
            <wsdl:input message="tns:getAdGroupExcludedWordsCountRequest" name="getAdGroupExcludedWordsCountRequest"/>
            <wsdl:output message="tns:getAdGroupExcludedWordsCountResponse" name="getAdGroupExcludedWordsCountResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupKeywordCount">
            <wsdl:input message="tns:getAdGroupKeywordCountRequest" name="getAdGroupKeywordCountRequest"/>
            <wsdl:output message="tns:getAdGroupKeywordCountResponse" name="getAdGroupKeywordCountResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupSponsoredSearchMaxBid">
            <wsdl:input message="tns:getAdGroupSponsoredSearchMaxBidRequest" name="getAdGroupSponsoredSearchMaxBidRequest"/>
            <wsdl:output message="tns:getAdGroupSponsoredSearchMaxBidResponse" name="getAdGroupSponsoredSearchMaxBidResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroups">
            <wsdl:input message="tns:getAdGroupsRequest" name="getAdGroupsRequest"/>
            <wsdl:output message="tns:getAdGroupsResponse" name="getAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupsByCampaignID">
            <wsdl:input message="tns:getAdGroupsByCampaignIDRequest" name="getAdGroupsByCampaignIDRequest"/>
            <wsdl:output message="tns:getAdGroupsByCampaignIDResponse" name="getAdGroupsByCampaignIDResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupsByCampaignIDByStatus">
            <wsdl:input message="tns:getAdGroupsByCampaignIDByStatusRequest" name="getAdGroupsByCampaignIDByStatusRequest"/>
            <wsdl:output message="tns:getAdGroupsByCampaignIDByStatusResponse" name="getAdGroupsByCampaignIDByStatusResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getContentMatchMinBidForAdGroupOptimizationGuidelines">
            <wsdl:input message="tns:getContentMatchMinBidForAdGroupOptimizationGuidelinesRequest" name="getContentMatchMinBidForAdGroupOptimizationGuidelinesRequest"/>
            <wsdl:output message="tns:getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse" name="getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getOptimizationGuidelinesForAdGroup">
            <wsdl:input message="tns:getOptimizationGuidelinesForAdGroupRequest" name="getOptimizationGuidelinesForAdGroupRequest"/>
            <wsdl:output message="tns:getOptimizationGuidelinesForAdGroupResponse" name="getOptimizationGuidelinesForAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroup">
            <wsdl:input message="tns:getSponsoredSearchMinBidForAdGroupRequest" name="getSponsoredSearchMinBidForAdGroupRequest"/>
            <wsdl:output message="tns:getSponsoredSearchMinBidForAdGroupResponse" name="getSponsoredSearchMinBidForAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelines">
            <wsdl:input message="tns:getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesRequest" name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesRequest"/>
            <wsdl:output message="tns:getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse" name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroups">
            <wsdl:input message="tns:getSponsoredSearchMinBidForAdGroupsRequest" name="getSponsoredSearchMinBidForAdGroupsRequest"/>
            <wsdl:output message="tns:getSponsoredSearchMinBidForAdGroupsResponse" name="getSponsoredSearchMinBidForAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getStatusForAdGroup">
            <wsdl:input message="tns:getStatusForAdGroupRequest" name="getStatusForAdGroupRequest"/>
            <wsdl:output message="tns:getStatusForAdGroupResponse" name="getStatusForAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="moveAdGroup">
            <wsdl:input message="tns:moveAdGroupRequest" name="moveAdGroupRequest"/>
            <wsdl:output message="tns:moveAdGroupResponse" name="moveAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setAdGroupContentMatchMaxBid">
            <wsdl:input message="tns:setAdGroupContentMatchMaxBidRequest" name="setAdGroupContentMatchMaxBidRequest"/>
            <wsdl:output message="tns:setAdGroupContentMatchMaxBidResponse" name="setAdGroupContentMatchMaxBidResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setAdGroupSponsoredSearchMaxBid">
            <wsdl:input message="tns:setAdGroupSponsoredSearchMaxBidRequest" name="setAdGroupSponsoredSearchMaxBidRequest"/>
            <wsdl:output message="tns:setAdGroupSponsoredSearchMaxBidResponse" name="setAdGroupSponsoredSearchMaxBidResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setOptimizationGuidelinesForAdGroup">
            <wsdl:input message="tns:setOptimizationGuidelinesForAdGroupRequest" name="setOptimizationGuidelinesForAdGroupRequest"/>
            <wsdl:output message="tns:setOptimizationGuidelinesForAdGroupResponse" name="setOptimizationGuidelinesForAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="splitAdGroupBasedOnTactic">
            <wsdl:input message="tns:splitAdGroupBasedOnTacticRequest" name="splitAdGroupBasedOnTacticRequest"/>
            <wsdl:output message="tns:splitAdGroupBasedOnTacticResponse" name="splitAdGroupBasedOnTacticResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateAdGroup">
            <wsdl:input message="tns:updateAdGroupRequest" name="updateAdGroupRequest"/>
            <wsdl:output message="tns:updateAdGroupResponse" name="updateAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateAdGroups">
            <wsdl:input message="tns:updateAdGroupsRequest" name="updateAdGroupsRequest"/>
            <wsdl:output message="tns:updateAdGroupsResponse" name="updateAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAdGroup">
            <wsdl:input message="tns:updateStatusForAdGroupRequest" name="updateStatusForAdGroupRequest"/>
            <wsdl:output message="tns:updateStatusForAdGroupResponse" name="updateStatusForAdGroupResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAdGroups">
            <wsdl:input message="tns:updateStatusForAdGroupsRequest" name="updateStatusForAdGroupsRequest"/>
            <wsdl:output message="tns:updateStatusForAdGroupsResponse" name="updateStatusForAdGroupsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdGroupServiceHttpBinding" type="tns:AdGroupService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupAdCount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupAdCountRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupAdCountResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupContentMatchMaxBid">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupContentMatchMaxBidRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupContentMatchMaxBidResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupExcludedWordsCount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupExcludedWordsCountRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupExcludedWordsCountResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupKeywordCount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupKeywordCountRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupKeywordCountResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupSponsoredSearchMaxBid">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupSponsoredSearchMaxBidRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupSponsoredSearchMaxBidResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupsByCampaignID">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupsByCampaignIDRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupsByCampaignIDResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdGroupsByCampaignIDByStatus">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdGroupsByCampaignIDByStatusRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdGroupsByCampaignIDByStatusResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContentMatchMinBidForAdGroupOptimizationGuidelines">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getContentMatchMinBidForAdGroupOptimizationGuidelinesRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getContentMatchMinBidForAdGroupOptimizationGuidelinesResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOptimizationGuidelinesForAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getOptimizationGuidelinesForAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOptimizationGuidelinesForAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSponsoredSearchMinBidForAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSponsoredSearchMinBidForAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelines">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSponsoredSearchMinBidForAdGroupOptimizationGuidelinesResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSponsoredSearchMinBidForAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSponsoredSearchMinBidForAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSponsoredSearchMinBidForAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusForAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getStatusForAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusForAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="moveAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="moveAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="moveAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAdGroupContentMatchMaxBid">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setAdGroupContentMatchMaxBidRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setAdGroupContentMatchMaxBidResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAdGroupSponsoredSearchMaxBid">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setAdGroupSponsoredSearchMaxBidRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setAdGroupSponsoredSearchMaxBidResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOptimizationGuidelinesForAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setOptimizationGuidelinesForAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setOptimizationGuidelinesForAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="splitAdGroupBasedOnTactic">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="splitAdGroupBasedOnTacticRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="splitAdGroupBasedOnTacticResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAdGroup">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForAdGroupRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForAdGroupResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAdGroups">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForAdGroupsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForAdGroupsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdGroupServiceService">
        <wsdl:port binding="tns:AdGroupServiceHttpBinding" name="AdGroupService">
            <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6/AdGroupService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
