wsdls-Yahoo/I16-AdService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://marketing.ews.yahooapis.com/V6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>6.1.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="accountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="addAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ad" nillable="true" type="tns:Ad"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ads" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addAdsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:BasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteAdsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfBasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:Ad"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupByParticipatesInMarketplace">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="participatesInMarketplace" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupByParticipatesInMarketplaceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupIDByEditorialStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="update" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:EditorialStatus"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupIDByEditorialStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupIDByStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adGroupID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:AdStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupIDByStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsByAdGroupIDResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAdsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEditorialReasonText">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="editorialReasonCode" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="locale" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEditorialReasonTextResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEditorialReasonsForAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEditorialReasonsForAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdEditorialReasons"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getReasonsForAdNotParticipatingInMarketplace">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getReasonsForAdNotParticipatingInMarketplaceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfNotParticipatingInMarketplaceReason"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getUpdateForAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getUpdateForAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:UpdateForAd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="setAdUrl">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="url" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setAdUrlResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ad" nillable="true" type="tns:Ad"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ads" nillable="true" type="tns:ArrayOfAd"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateAdsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:AdStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:AdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="adIDs" nillable="true" type="tns:ArrayOfLong"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:AdStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForAdsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAdResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="AdStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Off"/>
                    <xsd:enumeration value="Deleted"/>
                    <xsd:enumeration value="On"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EditorialStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Rejected"/>
                    <xsd:enumeration value="Suspended"/>
                    <xsd:enumeration value="Approved"/>
                    <xsd:enumeration value="Pending"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NotParticipatingInMarketplaceReason">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BidIsInactive"/>
                    <xsd:enumeration value="StatusIsOff"/>
                    <xsd:enumeration value="NotApproved"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Ad">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="adGroupID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="contentMatchQualityScore" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="deleteTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="displayUrl" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="editorialStatus" nillable="true" type="tns:EditorialStatus"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="participatesInMarketplace" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="shortDescription" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchQualityScore" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="status" nillable="true" type="tns:AdStatus"/>
                    <xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="update" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="url" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdEditorialReasons">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="adEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="adID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="descriptionEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="displayUrlEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="shortDescriptionEditorialReason" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="titleEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="urlContentEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="urlEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                    <xsd:element minOccurs="0" name="urlStringEditorialReasons" nillable="true" type="tns:ArrayOfInt"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ad" nillable="true" type="tns:Ad"/>
                    <xsd:element minOccurs="0" name="editorialReasons" nillable="true" type="tns:AdEditorialReasons"/>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAd">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Ad" nillable="true" type="tns:Ad"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAdResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdResponse" nillable="true" type="tns:AdResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBasicResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="BasicResponse" nillable="true" type="tns:BasicResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfError">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" nillable="true" type="tns:Error"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInt">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="int" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLong">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNotParticipatingInMarketplaceReason">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="NotParticipatingInMarketplaceReason" nillable="true" type="tns:NotParticipatingInMarketplaceReason"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfWarning">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Warning" nillable="true" type="tns:Warning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BasicResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateForAd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="displayUrl" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="editorialStatus" nillable="true" type="tns:EditorialStatus"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="shortDescription" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="url" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Warning">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="accountID">
        <wsdl:part element="tns:accountID" name="accountID"/>
    </wsdl:message>
    <wsdl:message name="addAdRequest">
        <wsdl:part element="tns:addAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdResponse">
        <wsdl:part element="tns:addAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdsRequest">
        <wsdl:part element="tns:addAds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addAdsResponse">
        <wsdl:part element="tns:addAdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="deleteAdRequest">
        <wsdl:part element="tns:deleteAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdResponse">
        <wsdl:part element="tns:deleteAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdsRequest">
        <wsdl:part element="tns:deleteAds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteAdsResponse">
        <wsdl:part element="tns:deleteAdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdRequest">
        <wsdl:part element="tns:getAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdResponse">
        <wsdl:part element="tns:getAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupByParticipatesInMarketplaceRequest">
        <wsdl:part element="tns:getAdsByAdGroupByParticipatesInMarketplace" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupByParticipatesInMarketplaceResponse">
        <wsdl:part element="tns:getAdsByAdGroupByParticipatesInMarketplaceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDByEditorialStatusRequest">
        <wsdl:part element="tns:getAdsByAdGroupIDByEditorialStatus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDByEditorialStatusResponse">
        <wsdl:part element="tns:getAdsByAdGroupIDByEditorialStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDByStatusRequest">
        <wsdl:part element="tns:getAdsByAdGroupIDByStatus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDByStatusResponse">
        <wsdl:part element="tns:getAdsByAdGroupIDByStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDRequest">
        <wsdl:part element="tns:getAdsByAdGroupID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsByAdGroupIDResponse">
        <wsdl:part element="tns:getAdsByAdGroupIDResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsRequest">
        <wsdl:part element="tns:getAds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAdsResponse">
        <wsdl:part element="tns:getAdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEditorialReasonTextRequest">
        <wsdl:part element="tns:getEditorialReasonText" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEditorialReasonTextResponse">
        <wsdl:part element="tns:getEditorialReasonTextResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEditorialReasonsForAdRequest">
        <wsdl:part element="tns:getEditorialReasonsForAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEditorialReasonsForAdResponse">
        <wsdl:part element="tns:getEditorialReasonsForAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getReasonsForAdNotParticipatingInMarketplaceRequest">
        <wsdl:part element="tns:getReasonsForAdNotParticipatingInMarketplace" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getReasonsForAdNotParticipatingInMarketplaceResponse">
        <wsdl:part element="tns:getReasonsForAdNotParticipatingInMarketplaceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForAdRequest">
        <wsdl:part element="tns:getStatusForAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForAdResponse">
        <wsdl:part element="tns:getStatusForAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getUpdateForAdRequest">
        <wsdl:part element="tns:getUpdateForAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getUpdateForAdResponse">
        <wsdl:part element="tns:getUpdateForAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="setAdUrlRequest">
        <wsdl:part element="tns:setAdUrl" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setAdUrlResponse">
        <wsdl:part element="tns:setAdUrlResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:message name="updateAdRequest">
        <wsdl:part element="tns:updateAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdResponse">
        <wsdl:part element="tns:updateAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdsRequest">
        <wsdl:part element="tns:updateAds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateAdsResponse">
        <wsdl:part element="tns:updateAdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdRequest">
        <wsdl:part element="tns:updateStatusForAd" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdResponse">
        <wsdl:part element="tns:updateStatusForAdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdsRequest">
        <wsdl:part element="tns:updateStatusForAds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForAdsResponse">
        <wsdl:part element="tns:updateStatusForAdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AdService">
        <wsdl:operation name="addAd">
            <wsdl:input message="tns:addAdRequest" name="addAdRequest"/>
            <wsdl:output message="tns:addAdResponse" name="addAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="addAds">
            <wsdl:input message="tns:addAdsRequest" name="addAdsRequest"/>
            <wsdl:output message="tns:addAdsResponse" name="addAdsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAd">
            <wsdl:input message="tns:deleteAdRequest" name="deleteAdRequest"/>
            <wsdl:output message="tns:deleteAdResponse" name="deleteAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAds">
            <wsdl:input message="tns:deleteAdsRequest" name="deleteAdsRequest"/>
            <wsdl:output message="tns:deleteAdsResponse" name="deleteAdsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAd">
            <wsdl:input message="tns:getAdRequest" name="getAdRequest"/>
            <wsdl:output message="tns:getAdResponse" name="getAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAds">
            <wsdl:input message="tns:getAdsRequest" name="getAdsRequest"/>
            <wsdl:output message="tns:getAdsResponse" name="getAdsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupByParticipatesInMarketplace">
            <wsdl:input message="tns:getAdsByAdGroupByParticipatesInMarketplaceRequest" name="getAdsByAdGroupByParticipatesInMarketplaceRequest"/>
            <wsdl:output message="tns:getAdsByAdGroupByParticipatesInMarketplaceResponse" name="getAdsByAdGroupByParticipatesInMarketplaceResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupID">
            <wsdl:input message="tns:getAdsByAdGroupIDRequest" name="getAdsByAdGroupIDRequest"/>
            <wsdl:output message="tns:getAdsByAdGroupIDResponse" name="getAdsByAdGroupIDResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupIDByEditorialStatus">
            <wsdl:input message="tns:getAdsByAdGroupIDByEditorialStatusRequest" name="getAdsByAdGroupIDByEditorialStatusRequest"/>
            <wsdl:output message="tns:getAdsByAdGroupIDByEditorialStatusResponse" name="getAdsByAdGroupIDByEditorialStatusResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupIDByStatus">
            <wsdl:input message="tns:getAdsByAdGroupIDByStatusRequest" name="getAdsByAdGroupIDByStatusRequest"/>
            <wsdl:output message="tns:getAdsByAdGroupIDByStatusResponse" name="getAdsByAdGroupIDByStatusResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getEditorialReasonText">
            <wsdl:input message="tns:getEditorialReasonTextRequest" name="getEditorialReasonTextRequest"/>
            <wsdl:output message="tns:getEditorialReasonTextResponse" name="getEditorialReasonTextResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getEditorialReasonsForAd">
            <wsdl:input message="tns:getEditorialReasonsForAdRequest" name="getEditorialReasonsForAdRequest"/>
            <wsdl:output message="tns:getEditorialReasonsForAdResponse" name="getEditorialReasonsForAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getReasonsForAdNotParticipatingInMarketplace">
            <wsdl:input message="tns:getReasonsForAdNotParticipatingInMarketplaceRequest" name="getReasonsForAdNotParticipatingInMarketplaceRequest"/>
            <wsdl:output message="tns:getReasonsForAdNotParticipatingInMarketplaceResponse" name="getReasonsForAdNotParticipatingInMarketplaceResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getStatusForAd">
            <wsdl:input message="tns:getStatusForAdRequest" name="getStatusForAdRequest"/>
            <wsdl:output message="tns:getStatusForAdResponse" name="getStatusForAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getUpdateForAd">
            <wsdl:input message="tns:getUpdateForAdRequest" name="getUpdateForAdRequest"/>
            <wsdl:output message="tns:getUpdateForAdResponse" name="getUpdateForAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setAdUrl">
            <wsdl:input message="tns:setAdUrlRequest" name="setAdUrlRequest"/>
            <wsdl:output message="tns:setAdUrlResponse" name="setAdUrlResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateAd">
            <wsdl:input message="tns:updateAdRequest" name="updateAdRequest"/>
            <wsdl:output message="tns:updateAdResponse" name="updateAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateAds">
            <wsdl:input message="tns:updateAdsRequest" name="updateAdsRequest"/>
            <wsdl:output message="tns:updateAdsResponse" name="updateAdsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAd">
            <wsdl:input message="tns:updateStatusForAdRequest" name="updateStatusForAdRequest"/>
            <wsdl:output message="tns:updateStatusForAdResponse" name="updateStatusForAdResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAds">
            <wsdl:input message="tns:updateStatusForAdsRequest" name="updateStatusForAdsRequest"/>
            <wsdl:output message="tns:updateStatusForAdsResponse" name="updateStatusForAdsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdServiceHttpBinding" type="tns:AdService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addAdsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addAdsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteAdsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAdsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupByParticipatesInMarketplace">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdsByAdGroupByParticipatesInMarketplaceRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdsByAdGroupByParticipatesInMarketplaceResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupID">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdsByAdGroupIDRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdsByAdGroupIDResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupIDByEditorialStatus">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdsByAdGroupIDByEditorialStatusRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdsByAdGroupIDByEditorialStatusResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdsByAdGroupIDByStatus">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAdsByAdGroupIDByStatusRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdsByAdGroupIDByStatusResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEditorialReasonText">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getEditorialReasonTextRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEditorialReasonTextResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEditorialReasonsForAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getEditorialReasonsForAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEditorialReasonsForAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReasonsForAdNotParticipatingInMarketplace">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getReasonsForAdNotParticipatingInMarketplaceRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getReasonsForAdNotParticipatingInMarketplaceResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusForAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getStatusForAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusForAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUpdateForAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getUpdateForAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUpdateForAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAdUrl">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setAdUrlRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setAdUrlResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateAdsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAdsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAd">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForAdRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForAdResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForAds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForAdsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForAdsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdServiceService">
        <wsdl:port binding="tns:AdServiceHttpBinding" name="AdService">
            <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6/AdService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
