wsdls-Yahoo/I18-CampaignService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://marketing.ews.yahooapis.com/V6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>6.1.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="accountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="addCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaign" nillable="true" type="tns:Campaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addCampaigns">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaigns" nillable="true" type="tns:ArrayOfCampaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addCampaignsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:BasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteCampaigns">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteCampaignsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfBasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignAdGroupCount">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignAdGroupCountResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignKeywordCount">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignKeywordCountResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:Campaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaigns">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignsByAccountID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="accountID" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="includeDeleted" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignsByAccountIDByCampaignStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="accountID" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:CampaignStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignsByAccountIDByCampaignStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignsByAccountIDResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getCampaignsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaign"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMinBidForCampaignOptimizationGuidelines">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMinBidForCampaignOptimizationGuidelinesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOptimizationGuidelinesForCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOptimizationGuidelinesForCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignOptimizationGuidelines"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusForCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="setCampaignOptimizationON">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignOptimizationON" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setCampaignOptimizationONResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:BasicResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setOptimizationGuidelinesForCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="optimizationGuidelines" nillable="true" type="tns:CampaignOptimizationGuidelines"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setOptimizationGuidelinesForCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignOptimizationGuidelinesResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaign" nillable="true" type="tns:Campaign"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateCampaigns">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaigns" nillable="true" type="tns:ArrayOfCampaign"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateCampaignsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForCampaign">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:CampaignStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForCampaignResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:CampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForCampaigns">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="campaignIDs" nillable="true" type="tns:ArrayOfLong"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="tns:CampaignStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusForCampaignsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfCampaignResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="CampaignStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Off"/>
                    <xsd:enumeration value="Deleted"/>
                    <xsd:enumeration value="On"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ConversionMetric">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Revenue"/>
                    <xsd:enumeration value="Conversions"/>
                    <xsd:enumeration value="None"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Importance">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                    <xsd:enumeration value="None"/>
                    <xsd:enumeration value="High"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBasicResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="BasicResponse" nillable="true" type="tns:BasicResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCampaign">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Campaign" nillable="true" type="tns:Campaign"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCampaignResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CampaignResponse" nillable="true" type="tns:CampaignResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfError">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" nillable="true" type="tns:Error"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLong">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfWarning">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Warning" nillable="true" type="tns:Warning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BasicResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Campaign">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="advancedMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="campaignOptimizationON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="contentMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="deleteTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="status" nillable="true" type="tns:CampaignStatus"/>
                    <xsd:element minOccurs="0" name="watchON" nillable="true" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CampaignOptimizationGuidelines">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CPA" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="CPC" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="CPM" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="ROAS" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="accountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="averageConversionRate" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="averageRevenuePerConversion" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="bidLimitHeadroom" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="campaignID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="conversionImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="conversionMetric" nillable="true" type="tns:ConversionMetric"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="impressionImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="lastUpdateTimestamp" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="leadImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="maxBid" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="monthlySpendRate" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMinPosition" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchMinPositionImportance" nillable="true" type="tns:Importance"/>
                    <xsd:element minOccurs="0" name="taggedForConversion" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="taggedForRevenue" nillable="true" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CampaignOptimizationGuidelinesResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="campaignOptimizationGuidelines" nillable="true" type="tns:CampaignOptimizationGuidelines"/>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CampaignResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="campaign" nillable="true" type="tns:Campaign"/>
                    <xsd:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError"/>
                    <xsd:element minOccurs="0" name="operationSucceeded" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="warnings" nillable="true" type="tns:ArrayOfWarning"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Warning">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        
       
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="accountID">
        <wsdl:part element="tns:accountID" name="accountID"/>
    </wsdl:message>
    <wsdl:message name="addCampaignRequest">
        <wsdl:part element="tns:addCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addCampaignResponse">
        <wsdl:part element="tns:addCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addCampaignsRequest">
        <wsdl:part element="tns:addCampaigns" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addCampaignsResponse">
        <wsdl:part element="tns:addCampaignsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="deleteCampaignRequest">
        <wsdl:part element="tns:deleteCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteCampaignResponse">
        <wsdl:part element="tns:deleteCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteCampaignsRequest">
        <wsdl:part element="tns:deleteCampaigns" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteCampaignsResponse">
        <wsdl:part element="tns:deleteCampaignsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignAdGroupCountRequest">
        <wsdl:part element="tns:getCampaignAdGroupCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignAdGroupCountResponse">
        <wsdl:part element="tns:getCampaignAdGroupCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignKeywordCountRequest">
        <wsdl:part element="tns:getCampaignKeywordCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignKeywordCountResponse">
        <wsdl:part element="tns:getCampaignKeywordCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignRequest">
        <wsdl:part element="tns:getCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignResponse">
        <wsdl:part element="tns:getCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsByAccountIDByCampaignStatusRequest">
        <wsdl:part element="tns:getCampaignsByAccountIDByCampaignStatus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsByAccountIDByCampaignStatusResponse">
        <wsdl:part element="tns:getCampaignsByAccountIDByCampaignStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsByAccountIDRequest">
        <wsdl:part element="tns:getCampaignsByAccountID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsByAccountIDResponse">
        <wsdl:part element="tns:getCampaignsByAccountIDResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsRequest">
        <wsdl:part element="tns:getCampaigns" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCampaignsResponse">
        <wsdl:part element="tns:getCampaignsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getMinBidForCampaignOptimizationGuidelinesRequest">
        <wsdl:part element="tns:getMinBidForCampaignOptimizationGuidelines" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getMinBidForCampaignOptimizationGuidelinesResponse">
        <wsdl:part element="tns:getMinBidForCampaignOptimizationGuidelinesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getOptimizationGuidelinesForCampaignRequest">
        <wsdl:part element="tns:getOptimizationGuidelinesForCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getOptimizationGuidelinesForCampaignResponse">
        <wsdl:part element="tns:getOptimizationGuidelinesForCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForCampaignRequest">
        <wsdl:part element="tns:getStatusForCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getStatusForCampaignResponse">
        <wsdl:part element="tns:getStatusForCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="setCampaignOptimizationONRequest">
        <wsdl:part element="tns:setCampaignOptimizationON" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setCampaignOptimizationONResponse">
        <wsdl:part element="tns:setCampaignOptimizationONResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setOptimizationGuidelinesForCampaignRequest">
        <wsdl:part element="tns:setOptimizationGuidelinesForCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setOptimizationGuidelinesForCampaignResponse">
        <wsdl:part element="tns:setOptimizationGuidelinesForCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:message name="updateCampaignRequest">
        <wsdl:part element="tns:updateCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateCampaignResponse">
        <wsdl:part element="tns:updateCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateCampaignsRequest">
        <wsdl:part element="tns:updateCampaigns" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateCampaignsResponse">
        <wsdl:part element="tns:updateCampaignsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForCampaignRequest">
        <wsdl:part element="tns:updateStatusForCampaign" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForCampaignResponse">
        <wsdl:part element="tns:updateStatusForCampaignResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForCampaignsRequest">
        <wsdl:part element="tns:updateStatusForCampaigns" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateStatusForCampaignsResponse">
        <wsdl:part element="tns:updateStatusForCampaignsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="CampaignService">
        <wsdl:operation name="addCampaign">
            <wsdl:input message="tns:addCampaignRequest" name="addCampaignRequest"/>
            <wsdl:output message="tns:addCampaignResponse" name="addCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="addCampaigns">
            <wsdl:input message="tns:addCampaignsRequest" name="addCampaignsRequest"/>
            <wsdl:output message="tns:addCampaignsResponse" name="addCampaignsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCampaign">
            <wsdl:input message="tns:deleteCampaignRequest" name="deleteCampaignRequest"/>
            <wsdl:output message="tns:deleteCampaignResponse" name="deleteCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCampaigns">
            <wsdl:input message="tns:deleteCampaignsRequest" name="deleteCampaignsRequest"/>
            <wsdl:output message="tns:deleteCampaignsResponse" name="deleteCampaignsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaign">
            <wsdl:input message="tns:getCampaignRequest" name="getCampaignRequest"/>
            <wsdl:output message="tns:getCampaignResponse" name="getCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaignAdGroupCount">
            <wsdl:input message="tns:getCampaignAdGroupCountRequest" name="getCampaignAdGroupCountRequest"/>
            <wsdl:output message="tns:getCampaignAdGroupCountResponse" name="getCampaignAdGroupCountResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaignKeywordCount">
            <wsdl:input message="tns:getCampaignKeywordCountRequest" name="getCampaignKeywordCountRequest"/>
            <wsdl:output message="tns:getCampaignKeywordCountResponse" name="getCampaignKeywordCountResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaigns">
            <wsdl:input message="tns:getCampaignsRequest" name="getCampaignsRequest"/>
            <wsdl:output message="tns:getCampaignsResponse" name="getCampaignsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaignsByAccountID">
            <wsdl:input message="tns:getCampaignsByAccountIDRequest" name="getCampaignsByAccountIDRequest"/>
            <wsdl:output message="tns:getCampaignsByAccountIDResponse" name="getCampaignsByAccountIDResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getCampaignsByAccountIDByCampaignStatus">
            <wsdl:input message="tns:getCampaignsByAccountIDByCampaignStatusRequest" name="getCampaignsByAccountIDByCampaignStatusRequest"/>
            <wsdl:output message="tns:getCampaignsByAccountIDByCampaignStatusResponse" name="getCampaignsByAccountIDByCampaignStatusResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getMinBidForCampaignOptimizationGuidelines">
            <wsdl:input message="tns:getMinBidForCampaignOptimizationGuidelinesRequest" name="getMinBidForCampaignOptimizationGuidelinesRequest"/>
            <wsdl:output message="tns:getMinBidForCampaignOptimizationGuidelinesResponse" name="getMinBidForCampaignOptimizationGuidelinesResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getOptimizationGuidelinesForCampaign">
            <wsdl:input message="tns:getOptimizationGuidelinesForCampaignRequest" name="getOptimizationGuidelinesForCampaignRequest"/>
            <wsdl:output message="tns:getOptimizationGuidelinesForCampaignResponse" name="getOptimizationGuidelinesForCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getStatusForCampaign">
            <wsdl:input message="tns:getStatusForCampaignRequest" name="getStatusForCampaignRequest"/>
            <wsdl:output message="tns:getStatusForCampaignResponse" name="getStatusForCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setCampaignOptimizationON">
            <wsdl:input message="tns:setCampaignOptimizationONRequest" name="setCampaignOptimizationONRequest"/>
            <wsdl:output message="tns:setCampaignOptimizationONResponse" name="setCampaignOptimizationONResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="setOptimizationGuidelinesForCampaign">
            <wsdl:input message="tns:setOptimizationGuidelinesForCampaignRequest" name="setOptimizationGuidelinesForCampaignRequest"/>
            <wsdl:output message="tns:setOptimizationGuidelinesForCampaignResponse" name="setOptimizationGuidelinesForCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateCampaign">
            <wsdl:input message="tns:updateCampaignRequest" name="updateCampaignRequest"/>
            <wsdl:output message="tns:updateCampaignResponse" name="updateCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateCampaigns">
            <wsdl:input message="tns:updateCampaignsRequest" name="updateCampaignsRequest"/>
            <wsdl:output message="tns:updateCampaignsResponse" name="updateCampaignsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForCampaign">
            <wsdl:input message="tns:updateStatusForCampaignRequest" name="updateStatusForCampaignRequest"/>
            <wsdl:output message="tns:updateStatusForCampaignResponse" name="updateStatusForCampaignResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForCampaigns">
            <wsdl:input message="tns:updateStatusForCampaignsRequest" name="updateStatusForCampaignsRequest"/>
            <wsdl:output message="tns:updateStatusForCampaignsResponse" name="updateStatusForCampaignsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CampaignServiceHttpBinding" type="tns:CampaignService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCampaigns">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addCampaignsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addCampaignsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCampaigns">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="deleteCampaignsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteCampaignsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaignAdGroupCount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignAdGroupCountRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignAdGroupCountResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaignKeywordCount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignKeywordCountRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignKeywordCountResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaigns">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaignsByAccountID">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignsByAccountIDRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignsByAccountIDResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCampaignsByAccountIDByCampaignStatus">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getCampaignsByAccountIDByCampaignStatusRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCampaignsByAccountIDByCampaignStatusResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMinBidForCampaignOptimizationGuidelines">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getMinBidForCampaignOptimizationGuidelinesRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMinBidForCampaignOptimizationGuidelinesResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOptimizationGuidelinesForCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getOptimizationGuidelinesForCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOptimizationGuidelinesForCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusForCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getStatusForCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusForCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setCampaignOptimizationON">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setCampaignOptimizationONRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setCampaignOptimizationONResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOptimizationGuidelinesForCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="setOptimizationGuidelinesForCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setOptimizationGuidelinesForCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCampaigns">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateCampaignsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCampaignsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForCampaign">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForCampaignRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForCampaignResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateStatusForCampaigns">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateStatusForCampaignsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:accountID" part="accountID" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStatusForCampaignsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CampaignServiceService">
        <wsdl:port binding="tns:CampaignServiceHttpBinding" name="CampaignService">
            <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6/CampaignService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
