wsdls-Yahoo/I22-GeographicalDictionaryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://marketing.ews.yahooapis.com/V6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://marketing.ews.yahooapis.com/V6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>6.1.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="getAncestorGeoLocations">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoLocationWOEID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAncestorGeoLocationsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoLocationWOEID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:GeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocations">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoLocationWOEIDs" nillable="true" type="tns:ArrayOfLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByParentByLevel">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="parentWOEID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoLevel" nillable="true" type="tns:TargetingType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="startElement" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="numElements" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByParentByLevelResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByString">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoString" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByStringByCountry">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoString" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="countryWOEID" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByStringByCountryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocationProbability"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocationProbability"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByStrings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="geoStrings" nillable="true" type="tns:ArrayOfString"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsByStringsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocationProbabilitySet"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGeoLocationsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTargetableGeoLevels">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getTargetableGeoLevelsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfTargetingType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTopLevelGeoLocations">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getTopLevelGeoLocationsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getZipGeoLocationsWithinRadius">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="radius" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="distanceUnits" nillable="true" type="tns:DistanceUnits"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="zipWOEID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="startElement" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="numElements" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getZipGeoLocationsWithinRadiusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfGeoLocation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:simpleType name="DistanceUnits">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Kilometers"/>
                    <xsd:enumeration value="Miles"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGeoLocation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="GeoLocation" nillable="true" type="tns:GeoLocation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGeoLocationProbability">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="GeoLocationProbability" nillable="true" type="tns:GeoLocationProbability"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGeoLocationProbabilitySet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="GeoLocationProbabilitySet" nillable="true" type="tns:GeoLocationProbabilitySet"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLong">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTargetingType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="TargetingType" nillable="true" type="tns:TargetingType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeoLocation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="placeType" nillable="true" type="tns:TargetingType"/>
                    <xsd:element name="woeid" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeoLocationProbability">
                <xsd:sequence>
                    <xsd:element name="geoLocation" type="tns:GeoLocation"/>
                    <xsd:element name="probability" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeoLocationProbabilitySet">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="geoLocationProbabilities" nillable="true" type="tns:ArrayOfGeoLocationProbability"/>
                    <xsd:element minOccurs="0" name="geoString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TargetingType">
                <xsd:sequence>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
       
        
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
         </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="getAncestorGeoLocationsRequest">
        <wsdl:part element="tns:getAncestorGeoLocations" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAncestorGeoLocationsResponse">
        <wsdl:part element="tns:getAncestorGeoLocationsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationRequest">
        <wsdl:part element="tns:getGeoLocation" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationResponse">
        <wsdl:part element="tns:getGeoLocationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByParentByLevelRequest">
        <wsdl:part element="tns:getGeoLocationsByParentByLevel" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByParentByLevelResponse">
        <wsdl:part element="tns:getGeoLocationsByParentByLevelResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringByCountryRequest">
        <wsdl:part element="tns:getGeoLocationsByStringByCountry" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringByCountryResponse">
        <wsdl:part element="tns:getGeoLocationsByStringByCountryResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringRequest">
        <wsdl:part element="tns:getGeoLocationsByString" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringResponse">
        <wsdl:part element="tns:getGeoLocationsByStringResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringsRequest">
        <wsdl:part element="tns:getGeoLocationsByStrings" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsByStringsResponse">
        <wsdl:part element="tns:getGeoLocationsByStringsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsRequest">
        <wsdl:part element="tns:getGeoLocations" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getGeoLocationsResponse">
        <wsdl:part element="tns:getGeoLocationsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTargetableGeoLevelsRequest">
        <wsdl:part element="tns:getTargetableGeoLevels" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTargetableGeoLevelsResponse">
        <wsdl:part element="tns:getTargetableGeoLevelsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTopLevelGeoLocationsRequest">
        <wsdl:part element="tns:getTopLevelGeoLocations" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTopLevelGeoLocationsResponse">
        <wsdl:part element="tns:getTopLevelGeoLocationsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getZipGeoLocationsWithinRadiusRequest">
        <wsdl:part element="tns:getZipGeoLocationsWithinRadius" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getZipGeoLocationsWithinRadiusResponse">
        <wsdl:part element="tns:getZipGeoLocationsWithinRadiusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:portType name="GeographicalDictionaryService">
        <wsdl:operation name="getAncestorGeoLocations">
            <wsdl:input message="tns:getAncestorGeoLocationsRequest" name="getAncestorGeoLocationsRequest"/>
            <wsdl:output message="tns:getAncestorGeoLocationsResponse" name="getAncestorGeoLocationsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocation">
            <wsdl:input message="tns:getGeoLocationRequest" name="getGeoLocationRequest"/>
            <wsdl:output message="tns:getGeoLocationResponse" name="getGeoLocationResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocations">
            <wsdl:input message="tns:getGeoLocationsRequest" name="getGeoLocationsRequest"/>
            <wsdl:output message="tns:getGeoLocationsResponse" name="getGeoLocationsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByParentByLevel">
            <wsdl:input message="tns:getGeoLocationsByParentByLevelRequest" name="getGeoLocationsByParentByLevelRequest"/>
            <wsdl:output message="tns:getGeoLocationsByParentByLevelResponse" name="getGeoLocationsByParentByLevelResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByString">
            <wsdl:input message="tns:getGeoLocationsByStringRequest" name="getGeoLocationsByStringRequest"/>
            <wsdl:output message="tns:getGeoLocationsByStringResponse" name="getGeoLocationsByStringResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByStringByCountry">
            <wsdl:input message="tns:getGeoLocationsByStringByCountryRequest" name="getGeoLocationsByStringByCountryRequest"/>
            <wsdl:output message="tns:getGeoLocationsByStringByCountryResponse" name="getGeoLocationsByStringByCountryResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByStrings">
            <wsdl:input message="tns:getGeoLocationsByStringsRequest" name="getGeoLocationsByStringsRequest"/>
            <wsdl:output message="tns:getGeoLocationsByStringsResponse" name="getGeoLocationsByStringsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getTargetableGeoLevels">
            <wsdl:input message="tns:getTargetableGeoLevelsRequest" name="getTargetableGeoLevelsRequest"/>
            <wsdl:output message="tns:getTargetableGeoLevelsResponse" name="getTargetableGeoLevelsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getTopLevelGeoLocations">
            <wsdl:input message="tns:getTopLevelGeoLocationsRequest" name="getTopLevelGeoLocationsRequest"/>
            <wsdl:output message="tns:getTopLevelGeoLocationsResponse" name="getTopLevelGeoLocationsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getZipGeoLocationsWithinRadius">
            <wsdl:input message="tns:getZipGeoLocationsWithinRadiusRequest" name="getZipGeoLocationsWithinRadiusRequest"/>
            <wsdl:output message="tns:getZipGeoLocationsWithinRadiusResponse" name="getZipGeoLocationsWithinRadiusResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GeographicalDictionaryServiceHttpBinding" type="tns:GeographicalDictionaryService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAncestorGeoLocations">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAncestorGeoLocationsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAncestorGeoLocationsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocation">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocations">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByParentByLevel">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationsByParentByLevelRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationsByParentByLevelResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByString">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationsByStringRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationsByStringResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByStringByCountry">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationsByStringByCountryRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationsByStringByCountryResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeoLocationsByStrings">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getGeoLocationsByStringsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGeoLocationsByStringsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTargetableGeoLevels">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getTargetableGeoLevelsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTargetableGeoLevelsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTopLevelGeoLocations">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getTopLevelGeoLocationsRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTopLevelGeoLocationsResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZipGeoLocationsWithinRadius">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getZipGeoLocationsWithinRadiusRequest">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZipGeoLocationsWithinRadiusResponse">
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GeographicalDictionaryServiceService">
        <wsdl:port binding="tns:GeographicalDictionaryServiceHttpBinding" name="GeographicalDictionaryService">
            <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6/GeographicalDictionaryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
