wsdls-Amazon/I3-AmazonFPS_2007.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:wsa="http://www.w3.org/2005/03/addressing"
             xmlns:aws="http://www.amazonaws.com/schemas/core"
             xmlns:tns="http://fps.amazonaws.com/doc/2007-01-08/"
             targetNamespace="http://fps.amazonaws.com/doc/2007-01-08/">
    <types>
        <xs:schema targetNamespace="http://fps.amazonaws.com/doc/2007-01-08/" xmlns="http://fps.amazonaws.com/doc/2007-01-08/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fps.amazonaws.com/doc/2007-01-08/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TokenId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstrumentId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Failure"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstrumentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All"/>
      <xs:enumeration value="Active"/>
      <xs:enumeration value="Cancelled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstrumentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active"/>
      <xs:enumeration value="Cancelled"/>
      <xs:enumeration value="Expired"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending"/>
      <xs:enumeration value="Descending"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeFeeTo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Caller"/>
      <xs:enumeration value="Recipient"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Reserved"/>
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Failure"/>
      <xs:enumeration value="Initiated"/>
      <xs:enumeration value="Reinitiated"/>
      <xs:enumeration value="TemporaryDecline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionStatusFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Failure"/>
      <xs:enumeration value="Initiated"/>
      <xs:enumeration value="Reinitiated"/>
      <xs:enumeration value="TemporaryDecline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GetAccountActivityResponseGroup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Summary"/>
      <xs:enumeration value="Details"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TokenUsageLimit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:integer"/>
      <xs:element minOccurs="0" name="Amount" type="tns:Amount"/>
      <xs:element minOccurs="0" name="LastResetCount" type="xs:integer"/>
      <xs:element minOccurs="0" name="LastResetAmount" type="tns:Amount"/>
      <xs:element minOccurs="0" name="LastResetTimeStamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SingleUse"/>
      <xs:enumeration value="MultiUse"/>
      <xs:enumeration value="Recurring"/>
      <xs:enumeration value="Unrestricted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StatusChange">
    <xs:sequence>
      <xs:element name="Date" type="xs:dateTime"/>
      <xs:element name="Status" type="tns:TransactionStatus"/>
      <xs:element name="Amount" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Amount">
    <xs:sequence>
      <xs:element name="CurrencyCode" type="tns:CurrencyCode"/>
      <xs:element name="Amount" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NotificationEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TransactionResults"/>
      <xs:enumeration value="TokenCancellation"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FPSOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pay"/>
      <xs:enumeration value="Refund"/>
      <xs:enumeration value="Settle"/>
      <xs:enumeration value="SettleDebt"/>
      <xs:enumeration value="WriteOffDebt"/>
      <xs:enumeration value="FundPrepaid"/>
      <xs:enumeration value="DepositFunds"/>
      <xs:enumeration value="WithdrawFunds"/>
      <xs:enumeration value="Reserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FPSOperationFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pay"/>
      <xs:enumeration value="Refund"/>
      <xs:enumeration value="Settle"/>
      <xs:enumeration value="SettleDebt"/>
      <xs:enumeration value="WriteOffDebt"/>
      <xs:enumeration value="FundPrepaid"/>
      <xs:enumeration value="DepositFunds"/>
      <xs:enumeration value="WithdrawFunds"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TokenStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active"/>
      <xs:enumeration value="Inactive"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionalRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sender"/>
      <xs:enumeration value="Caller"/>
      <xs:enumeration value="Recipient"/>
      <xs:enumeration value="Amazon"/>
      <xs:enumeration value="CreditToken"/>
      <xs:enumeration value="Creditor"/>
      <xs:enumeration value="DebtTracker"/>
      <xs:enumeration value="LiabilityTracker"/>
      <xs:enumeration value="PrepaidToken"/>
      <xs:enumeration value="PrepaidLiabilityHolder"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionalRoleFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sender"/>
      <xs:enumeration value="Caller"/>
      <xs:enumeration value="Recipient"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ABT"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="ACH"/>
      <xs:enumeration value="Debt"/>
      <xs:enumeration value="Prepaid"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransactionPart">
    <xs:sequence>
      <xs:element name="AccountId" type="tns:AccountId"/>
      <xs:element minOccurs="0" name="InstrumentId" type="tns:InstrumentId"/>
      <xs:element name="Role" type="tns:TransactionalRole"/>
      <xs:element minOccurs="0" name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Reference" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" type="xs:string"/>
      <xs:element minOccurs="0" name="FeePaid" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element name="TokenId" type="tns:TokenId"/>
      <xs:element name="FriendlyName" type="xs:string"/>
      <xs:element name="Status" type="tns:TokenStatus"/>
      <xs:element name="DateInstalled" type="xs:dateTime"/>
      <xs:element name="CallerInstalled" type="tns:AccountId"/>
      <xs:element name="CallerReference" type="xs:string"/>
      <xs:element name="TokenType" type="tns:TokenType"/>
      <xs:element minOccurs="0" name="OldTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="PaymentReason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionResult">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string"/>
      <xs:element name="Operation" type="tns:FPSOperation"/>
      <xs:element name="CallerReference" type="xs:string"/>
      <xs:element name="Status" type="tns:TransactionResultStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TransactionResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TemporaryDecline"/>
      <xs:enumeration value="Failure"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="System"/>
      <xs:enumeration value="Business"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element name="ErrorType" type="tns:ErrorType"/>
      <xs:element name="IsRetriable" type="xs:boolean"/>
      <xs:element name="ErrorCode" type="xs:string"/>
      <xs:element name="ReasonText" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceErrors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Errors" type="tns:ServiceError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrepaidBalance">
    <xs:sequence>
      <xs:element name="AvailableBalance" type="tns:Amount"/>
      <xs:element minOccurs="0" name="PendingInBalance" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutstandingPrepaidLiability">
    <xs:sequence>
      <xs:element name="OutstandingBalance" type="tns:Amount"/>
      <xs:element minOccurs="0" name="PendingInBalance" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtBalance">
    <xs:sequence>
      <xs:element name="AvailableBalance" type="tns:Amount"/>
      <xs:element minOccurs="0" name="PendingOutBalance" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutstandingDebtBalance">
    <xs:sequence>
      <xs:element name="OutstandingBalance" type="tns:Amount"/>
      <xs:element minOccurs="0" name="PendingOutBalance" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string"/>
      <xs:element name="CallerTransactionDate" type="xs:dateTime"/>
      <xs:element name="DateReceived" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateCompleted" type="xs:dateTime"/>
      <xs:element name="TransactionAmount" type="tns:Amount"/>
      <xs:element name="Fees" type="tns:Amount"/>
      <xs:element minOccurs="0" name="CallerTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="SenderTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="RecipientTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="PrepaidInstrumentId" type="tns:InstrumentId"/>
      <xs:element minOccurs="0" name="CreditInstrumentId" type="tns:InstrumentId"/>
      <xs:element name="Operation" type="tns:FPSOperation"/>
      <xs:element name="PaymentMethod" type="tns:PaymentMethod"/>
      <xs:element name="Status" type="tns:TransactionStatus"/>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
      <xs:element minOccurs="0" name="SenderName" type="xs:string"/>
      <xs:element name="CallerName" type="xs:string"/>
      <xs:element minOccurs="0" name="RecipientName" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="TransactionParts" type="tns:TransactionPart"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RelatedTransactions" type="tns:RelatedTransaction"/>
      <xs:element maxOccurs="unbounded" name="StatusHistory" type="tns:StatusChange"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedTransaction">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CSNumberOf">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Caller"/>
      <xs:enumeration value="Recipient"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SoftDescriptorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dynamic"/>
      <xs:enumeration value="Static"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DescriptorPolicy">
    <xs:sequence>
      <xs:element name="SoftDescriptorType" type="tns:SoftDescriptorType" minOccurs="0" />
      <xs:element name="CSNumberOf" type="tns:CSNumberOf" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TemporaryDeclinePolicyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExplicitRetry"/>
      <xs:enumeration value="ImplicitRetry"/>
      <xs:enumeration value="Failure"/>
    </xs:restriction>
  </xs:simpleType>	

  <xs:complexType name="TemporaryDeclinePolicy">
    <xs:sequence>
      <xs:element name="TemporaryDeclinePolicyType" type="tns:TemporaryDeclinePolicyType" />
      <xs:element name="ImplicitRetryTimeoutInMins" type="xs:integer" minOccurs="0" />
   </xs:sequence>
  </xs:complexType>

  <!--    all the top level request elements-->
  <xs:element name="GetTokenUsageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TokenId" type="tns:TokenId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrepaidBalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PrepaidInstrumentId" type="tns:InstrumentId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtBalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreditInstrumentId" type="tns:InstrumentId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalPrepaidLiabilityRequest">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingDebtBalanceRequest">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleDebtRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SenderTokenId" type="tns:TokenId"/>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element name="CreditInstrumentId" type="tns:InstrumentId"/>
        <xs:element name="SettlementAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="SenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientReference" type="xs:string"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element name="ChargeFeeTo" type="tns:ChargeFeeTo"/>
        <xs:element minOccurs="0" name="SenderDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
        <xs:element minOccurs="0" name="TemporaryDeclinePolicy" type="tns:TemporaryDeclinePolicy"/>
        <xs:element minOccurs="0" name="DescriptorPolicy" type="tns:DescriptorPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteOffDebtRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element name="CreditInstrumentId" type="tns:InstrumentId"/>
        <xs:element name="AdjustmentAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientReference" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderDescription" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundPrepaidRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SenderTokenId" type="tns:TokenId"/>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element name="PrepaidInstrumentId" type="tns:InstrumentId"/>
        <xs:element name="FundingAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="SenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientReference" type="xs:string"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element name="ChargeFeeTo" type="tns:ChargeFeeTo"/>
        <xs:element minOccurs="0" name="SenderDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
        <xs:element minOccurs="0" name="TemporaryDeclinePolicy" type="tns:TemporaryDeclinePolicy"/>
        <xs:element minOccurs="0" name="DescriptorPolicy" type="tns:DescriptorPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForCallerNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NotificationOperationName" type="xs:string"/>
        <xs:element name="WebServiceAPIURL" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeForCallerNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NotificationOperationName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrepaidInstrumentsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentStatus" type="tns:InstrumentStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountBalanceRequest">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountActivityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation" type="tns:FPSOperationFilter"/>
        <xs:element minOccurs="0" name="PaymentMethod" type="tns:PaymentMethod"/>
        <xs:element minOccurs="0" name="MaxBatchSize" type="xs:integer"/>
        <xs:element name="StartDate" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime"/>
        <xs:element default="Details" minOccurs="0" name="ResponseGroup" type="tns:GetAccountActivityResponseGroup"/>
        <xs:element default="Descending" minOccurs="0" name="SortOrderByDate" type="tns:SortOrder"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Role" type="tns:TransactionalRoleFilter"/>
        <xs:element minOccurs="0" name="Status" type="tns:TransactionStatusFilter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokensRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenFriendlyName" type="xs:string"/>
        <xs:element default="Active" minOccurs="0" name="TokenStatus" type="tns:TokenStatus"/>
        <xs:element minOccurs="0" name="CallerReference" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditInstrumentsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentStatus" type="tns:InstrumentStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentInstructionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TokenId" type="tns:TokenId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element name="SenderTokenId" type="tns:TokenId"/>
        <xs:element name="RecipientTokenId" type="tns:TokenId"/>
        <xs:element name="TransactionAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element name="ChargeFeeTo" type="tns:ChargeFeeTo"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientReference" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
	<xs:element minOccurs="0" name="MarketplaceFixedFee" type="tns:Amount"/>
        <xs:element minOccurs="0" name="MarketplaceVariableFee" type="xs:decimal"/>
        <xs:element minOccurs="0" name="TemporaryDeclinePolicy" type="tns:TemporaryDeclinePolicy"/>
        <xs:element minOccurs="0" name="DescriptorPolicy" type="tns:DescriptorPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReserveTransactionId" type="xs:string"/>
        <xs:element minOccurs="0" name="TransactionAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element minOccurs="0" name="RefundSenderTokenId" type="tns:TokenId"/>
        <xs:element name="TransactionId" type="xs:string"/>
        <xs:element minOccurs="0" name="RefundAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="ChargeFeeTo" type="tns:ChargeFeeTo"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RefundSenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RefundRecipientReference" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RefundSenderDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RefundRecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
        <xs:element default="MasterTxnOnly" minOccurs="0" name="MarketplaceRefundPolicy" type="tns:MarketplaceRefundPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MarketplaceRefundPolicy">
      <xs:restriction base="xs:string">
        <xs:enumeration value="MasterTxnOnly"/>
        <xs:enumeration value="MarketplaceTxnOnly"/>
        <xs:enumeration value="MasterAndMarketplaceTxn"/>
      </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetResultsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation" type="tns:FPSOperation"/>
        <xs:element minOccurs="0" name="MaxResultsCount" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardResultsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TransactionIds" type="xs:string"/>
	<xs:element minOccurs="0" name="Unused" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetryTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OriginalTransactionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenByCallerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenId" type="tns:TokenId"/>
        <xs:element minOccurs="0" name="CallerReference" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTokenRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TokenId" type="tns:TokenId"/>
        <xs:element minOccurs="0" name="ReasonText" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--    top level response elements-->
  <xs:element name="GetTokenUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="0" name="TokenUsageLimits" type="tns:TokenUsageLimit"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrepaidBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepaidBalance" type="tns:PrepaidBalance"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DebtBalance" type="tns:DebtBalance"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalPrepaidLiabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutstandingPrepaidLiability" type="tns:OutstandingPrepaidLiability"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingDebtBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutstandingDebt" type="tns:OutstandingDebtBalance"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionId" type="xs:string"/>
        <xs:element name="Status" type="tns:TransactionStatus"/>
        <xs:element minOccurs="0" name="StatusDetail" type="xs:string"/>
        <xs:element maxOccurs="3" minOccurs="0" name="NewSenderTokenUsage" type="tns:TokenUsageLimit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteOffDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundPrepaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForCallerNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeForCallerNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrepaidInstrumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PrepaidInstrumentIds" type="tns:InstrumentId"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AvailableBalances">
    <xs:sequence>
      <xs:element name="DisburseBalance" type="tns:Amount"/>
      <xs:element name="RefundBalance" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountBalance">
    <xs:sequence>
      <xs:element name="TotalBalance" type="tns:Amount"/>
      <xs:element name="PendingInBalance" type="tns:Amount"/>
      <xs:element name="PendingOutBalance" type="tns:Amount"/>
      <xs:element name="AvailableBalances" type="tns:AvailableBalances"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountBalance" type="tns:AccountBalance"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResponseBatchSize" type="xs:integer"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Transactions" type="tns:Transaction"/>
        <xs:element minOccurs="0" name="StartTimeForNextTransaction" type="xs:dateTime"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string"/>
      <xs:element name="CallerTransactionDate" type="xs:dateTime"/>
      <xs:element name="DateReceived" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateCompleted" type="xs:dateTime"/>
      <xs:element name="TransactionAmount" type="tns:Amount"/>
      <xs:element name="Operation" type="tns:FPSOperation"/>
      <xs:element name="Status" type="tns:TransactionStatus"/>
      <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
      <xs:element minOccurs="0" name="OriginalTransactionId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="TransactionParts" type="tns:TransactionPart"/>
      <xs:element name="PaymentMethod" type="tns:PaymentMethod"/>
      <xs:element minOccurs="0" name="SenderName" type="xs:string"/>
      <xs:element name="CallerName" type="xs:string"/>
      <xs:element minOccurs="0" name="RecipientName" type="xs:string"/>
      <xs:element name="Fees" type="tns:Amount"/>
      <xs:element name="Balance" type="tns:Amount"/>
      <xs:element minOccurs="0" name="CallerTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="SenderTokenId" type="tns:TokenId"/>
      <xs:element minOccurs="0" name="RecipientTokenId" type="tns:TokenId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallPaymentInstructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenId" type="tns:TokenId"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPaymentInstructionBatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="2" ref="tns:InstallPaymentInstructionRequest"/>
	<xs:element minOccurs="0" name="Unused" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPaymentInstructionBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="2" ref="tns:InstallPaymentInstructionResponse"/>
	<xs:element minOccurs="0" name="Unused" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPaymentInstructionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PaymentInstruction" type="xs:string"/>
        <xs:element minOccurs="0" name="TokenFriendlyName" type="xs:string"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element name="TokenType" type="tns:TokenType"/>
        <xs:element minOccurs="0" name="PaymentReason" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Tokens" type="tns:Token"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditInstrumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="CreditInstrumentIds" type="tns:InstrumentId"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentInstructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" type="tns:Token"/>
        <xs:element minOccurs="0" name="PaymentInstruction" type="xs:string"/>
        <xs:element minOccurs="0" name="AccountId" type="tns:AccountId"/>
        <xs:element minOccurs="0" name="TokenFriendlyName" type="xs:string"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CallerTokenId" type="tns:TokenId"/>
        <xs:element name="SenderTokenId" type="tns:TokenId"/>
        <xs:element name="RecipientTokenId" type="tns:TokenId"/>
        <xs:element name="TransactionAmount" type="tns:Amount"/>
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
        <xs:element name="ChargeFeeTo" type="tns:ChargeFeeTo"/>
        <xs:element name="CallerReference" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderReference" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientReference" type="xs:string"/>
        <xs:element minOccurs="0" name="CallerDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="SenderDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="RecipientDescription" type="xs:string"/>
        <xs:element minOccurs="0" name="MetaData" type="xs:string"/>
	<xs:element minOccurs="0" name="MarketplaceFixedFee" type="tns:Amount"/>
        <xs:element minOccurs="0" name="MarketplaceVariableFee" type="xs:decimal"/>
	<xs:element minOccurs="0" name="TemporaryDeclinePolicy" type="tns:TemporaryDeclinePolicy"/>
        <xs:element minOccurs="0" name="DescriptorPolicy" type="tns:DescriptorPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="2" ref="tns:PayRequest"/>
	<xs:element minOccurs="0" name="Unused" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="2" ref="tns:PayResponse"/>
	<xs:element minOccurs="0" name="Unused" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="DiscardErrors" type="xs:string"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="TransactionResults" type="tns:TransactionResult"/>
        <xs:element minOccurs="0" name="NumberPending" type="xs:integer"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Transaction" type="tns:TransactionDetail"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetryTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:TransactionResponse"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenByCallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" type="tns:Token"/>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status" type="tns:ResponseStatus"/>
        <xs:element minOccurs="0" name="Errors" type="tns:ServiceErrors"/>
        <xs:element name="RequestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

    </types>

    <message name="GetTokenUsageRequestMsg">
        <part name="body" element="tns:GetTokenUsageRequest"/>
    </message>
    <message name="GetTokenUsageResponseMsg">
        <part name="body" element="tns:GetTokenUsageResponse"/>
    </message>
    <message name="GetPrepaidBalanceRequestMsg">
        <part name="body" element="tns:GetPrepaidBalanceRequest"/>
    </message>
    <message name="GetPrepaidBalanceResponseMsg">
        <part name="body" element="tns:GetPrepaidBalanceResponse"/>
    </message>
    <message name="GetDebtBalanceRequestMsg">
        <part name="body" element="tns:GetDebtBalanceRequest"/>
    </message>
    <message name="GetDebtBalanceResponseMsg">
        <part name="body" element="tns:GetDebtBalanceResponse"/>
    </message>
    <message name="GetTotalPrepaidLiabilityRequestMsg">
        <part name="body" element="tns:GetTotalPrepaidLiabilityRequest"/>
    </message>
    <message name="GetTotalPrepaidLiabilityResponseMsg">
        <part name="body" element="tns:GetTotalPrepaidLiabilityResponse"/>
    </message>
    <message name="GetOutstandingDebtBalanceRequestMsg">
        <part name="body" element="tns:GetOutstandingDebtBalanceRequest"/>
    </message>
    <message name="GetOutstandingDebtBalanceResponseMsg">
        <part name="body" element="tns:GetOutstandingDebtBalanceResponse"/>
    </message>
    <message name="SettleDebtRequestMsg">
        <part name="body" element="tns:SettleDebtRequest"/>
    </message>
    <message name="SettleDebtResponseMsg">
        <part name="body" element="tns:SettleDebtResponse"/>
    </message>
    <message name="WriteOffDebtRequestMsg">
        <part name="body" element="tns:WriteOffDebtRequest"/>
    </message>
    <message name="WriteOffDebtResponseMsg">
        <part name="body" element="tns:WriteOffDebtResponse"/>
    </message>
    <message name="FundPrepaidRequestMsg">
        <part name="body" element="tns:FundPrepaidRequest"/>
    </message>
    <message name="FundPrepaidResponseMsg">
        <part name="body" element="tns:FundPrepaidResponse"/>
    </message>
    <message name="SubscribeForCallerNotificationRequestMsg">
        <part name="body" element="tns:SubscribeForCallerNotificationRequest"/>
    </message>
    <message name="SubscribeForCallerNotificationResponseMsg">
        <part name="body" element="tns:SubscribeForCallerNotificationResponse"/>
    </message>
    <message name="UnSubscribeForCallerNotificationRequestMsg">
        <part name="body" element="tns:UnSubscribeForCallerNotificationRequest"/>
    </message>
    <message name="UnSubscribeForCallerNotificationResponseMsg">
        <part name="body" element="tns:UnSubscribeForCallerNotificationResponse"/>
    </message>
    <message name="GetAllCreditInstrumentsRequestMsg">
        <part name="body" element="tns:GetAllCreditInstrumentsRequest"/>
    </message>
    <message name="GetAllCreditInstrumentsResponseMsg">
        <part name="body" element="tns:GetAllCreditInstrumentsResponse"/>
    </message>
    <message name="GetAllPrepaidInstrumentsRequestMsg">
        <part name="body" element="tns:GetAllPrepaidInstrumentsRequest"/>
    </message>
    <message name="GetAllPrepaidInstrumentsResponseMsg">
        <part name="body" element="tns:GetAllPrepaidInstrumentsResponse"/>
    </message>
    <message name="GetAccountBalanceRequestMsg">
        <part name="body" element="tns:GetAccountBalanceRequest"/>
    </message>
    <message name="GetAccountBalanceResponseMsg">
        <part name="body" element="tns:GetAccountBalanceResponse"/>
    </message>
   <message name="GetAccountActivityRequestMsg">
        <part name="body" element="tns:GetAccountActivityRequest"/>
    </message>
    <message name="GetAccountActivityResponseMsg">
        <part name="body" element="tns:GetAccountActivityResponse"/>
    </message>
    <message name="GetTokensRequestMsg">
        <part name="body" element="tns:GetTokensRequest"/>
    </message>
    <message name="GetTokensResponseMsg">
        <part name="body" element="tns:GetTokensResponse"/>
    </message>
    <message name="GetPaymentInstructionRequestMsg">
        <part name="body" element="tns:GetPaymentInstructionRequest"/>
    </message>
    <message name="GetPaymentInstructionResponseMsg">
        <part name="body" element="tns:GetPaymentInstructionResponse"/>
    </message>
    <message name="CancelTokenRequestMsg">
        <part name="body" element="tns:CancelTokenRequest"/>
    </message>
    <message name="CancelTokenResponseMsg">
        <part name="body" element="tns:CancelTokenResponse"/>
    </message>
   <message name="PayBatchRequestMsg">
        <part name="body" element="tns:PayBatchRequest"/>
    </message>
    <message name="PayBatchResponseMsg">
        <part name="body" element="tns:PayBatchResponse"/>
    </message>
    <message name="PayRequestMsg">
        <part name="body" element="tns:PayRequest"/>
    </message>
    <message name="PayResponseMsg">
        <part name="body" element="tns:PayResponse"/>
    </message>
    <message name="ReserveRequestMsg">
        <part name="body" element="tns:ReserveRequest"/>
    </message>
    <message name="ReserveResponseMsg">
        <part name="body" element="tns:ReserveResponse"/>
    </message>
    <message name="SettleRequestMsg">
        <part name="body" element="tns:SettleRequest"/>
    </message>
    <message name="SettleResponseMsg">
        <part name="body" element="tns:SettleResponse"/>
    </message>
    <message name="RefundRequestMsg">
        <part name="body" element="tns:RefundRequest"/>
    </message>
    <message name="RefundResponseMsg">
        <part name="body" element="tns:RefundResponse"/>
    </message>
    <message name="GetResultsRequestMsg">
        <part name="body" element="tns:GetResultsRequest"/>
    </message>
    <message name="GetResultsResponseMsg">
        <part name="body" element="tns:GetResultsResponse"/>
    </message>
    <message name="DiscardResultsRequestMsg">
        <part name="body" element="tns:DiscardResultsRequest"/>
    </message>
    <message name="DiscardResultsResponseMsg">
        <part name="body" element="tns:DiscardResultsResponse"/>
    </message>
    <message name="GetTransactionRequestMsg">
        <part name="body" element="tns:GetTransactionRequest"/>
    </message>
    <message name="GetTransactionResponseMsg">
        <part name="body" element="tns:GetTransactionResponse"/>
    </message>
 	
 	<message name="InstallPaymentInstructionBatchRequestMsg">
        <part name="body" element="tns:InstallPaymentInstructionBatchRequest"/>
    </message>
    <message name="InstallPaymentInstructionBatchResponseMsg">
        <part name="body" element="tns:InstallPaymentInstructionBatchResponse"/>
    </message>
    
    <message name="InstallPaymentInstructionRequestMsg">
        <part name="body" element="tns:InstallPaymentInstructionRequest"/>
    </message>
    <message name="InstallPaymentInstructionResponseMsg">
        <part name="body" element="tns:InstallPaymentInstructionResponse"/>
    </message>
 	<message name="RetryTransactionRequestMsg">
                <part name="body" element="tns:RetryTransactionRequest"/>
        </message>
        <message name="RetryTransactionResponseMsg">
                 <part name="body" element="tns:RetryTransactionResponse"/>
         </message>

   <message name="GetTokenByCallerRequestMsg">
        <part name="body" element="tns:GetTokenByCallerRequest"/>
    </message>
    <message name="GetTokenByCallerResponseMsg">
        <part name="body" element="tns:GetTokenByCallerResponse"/>
    </message>
  
 
    <portType name="AmazonFPSPortType">
        <operation name="InstallPaymentInstructionBatch">
            <input message="tns:InstallPaymentInstructionBatchRequestMsg"
                   wsa:Action="urn:InstallPaymentInstructionBatch"/>
            <output message="tns:InstallPaymentInstructionBatchResponseMsg"
                    wsa:Action="urn:InstallPaymentInstructionBatch:Response"/>
        </operation>
        <operation name="InstallPaymentInstruction">
            <input message="tns:InstallPaymentInstructionRequestMsg"
                   wsa:Action="urn:InstallPaymentInstruction"/>
            <output message="tns:InstallPaymentInstructionResponseMsg"
                    wsa:Action="urn:InstallPaymentInstruction:Response"/>
        </operation>
        <operation name="GetTokenUsage">
            <input message="tns:GetTokenUsageRequestMsg"
                   wsa:Action="urn:GetTokenUsage"/>
            <output message="tns:GetTokenUsageResponseMsg"
                    wsa:Action="urn:GetTokenUsage:Response"/>
        </operation>
	    <operation name="GetPrepaidBalance">
            <input message="tns:GetPrepaidBalanceRequestMsg"
                   wsa:Action="urn:GetPrepaidBalance"/>
            <output message="tns:GetPrepaidBalanceResponseMsg"
                    wsa:Action="urn:GetPrepaidBalance:Response"/>
        </operation>
        <operation name="GetDebtBalance">
            <input message="tns:GetDebtBalanceRequestMsg"
                   wsa:Action="urn:GetDebtBalance"/>
            <output message="tns:GetDebtBalanceResponseMsg"
                    wsa:Action="urn:GetDebtBalance:Response"/>
        </operation>
        <operation name="GetTotalPrepaidLiability">
            <input message="tns:GetTotalPrepaidLiabilityRequestMsg"
                   wsa:Action="urn:GetTotalPrepaidLiability"/>
            <output message="tns:GetTotalPrepaidLiabilityResponseMsg"
                    wsa:Action="urn:GetTotalPrepaidLiability:Response"/>
        </operation>
        <operation name="GetOutstandingDebtBalance">
            <input message="tns:GetOutstandingDebtBalanceRequestMsg"
                   wsa:Action="urn:GetOutstandingDebtBalance"/>
            <output message="tns:GetOutstandingDebtBalanceResponseMsg"
                    wsa:Action="urn:GetOutstandingDebtBalance:Response"/>
        </operation>
        <operation name="SettleDebt">
            <input message="tns:SettleDebtRequestMsg"
                   wsa:Action="urn:SettleDebt"/>
            <output message="tns:SettleDebtResponseMsg"
                    wsa:Action="urn:SettleDebt:Response"/>
        </operation>
        <operation name="WriteOffDebt">
            <input message="tns:WriteOffDebtRequestMsg"
                   wsa:Action="urn:WriteOffDebt"/>
            <output message="tns:WriteOffDebtResponseMsg"
                    wsa:Action="urn:WriteOffDebt:Response"/>
        </operation>
        <operation name="FundPrepaid">
            <input message="tns:FundPrepaidRequestMsg"
                   wsa:Action="urn:FundPrepaid"/>
            <output message="tns:FundPrepaidResponseMsg"
                    wsa:Action="urn:FundPrepaid:Response"/>
        </operation>
        <operation name="SubscribeForCallerNotification">
            <input message="tns:SubscribeForCallerNotificationRequestMsg"
                   wsa:Action="urn:SubscribeForCallerNotification"/>
            <output message="tns:SubscribeForCallerNotificationResponseMsg"
                    wsa:Action="urn:SubscribeForCallerNotification:Response"/>
        </operation>
        <operation name="UnSubscribeForCallerNotification">
            <input message="tns:UnSubscribeForCallerNotificationRequestMsg"
                   wsa:Action="urn:UnSubscribeForCallerNotification"/>
            <output message="tns:UnSubscribeForCallerNotificationResponseMsg"
                    wsa:Action="urn:UnSubscribeForCallerNotification:Response"/>
        </operation>
        <operation name="GetAllCreditInstruments">
            <input message="tns:GetAllCreditInstrumentsRequestMsg"
                   wsa:Action="urn:GetAllCreditInstruments"/>
            <output message="tns:GetAllCreditInstrumentsResponseMsg"
                    wsa:Action="urn:GetAllCreditInstruments:Response"/>
        </operation>
        <operation name="GetAllPrepaidInstruments">
            <input message="tns:GetAllPrepaidInstrumentsRequestMsg"
                   wsa:Action="urn:GetAllPrepaidInstruments"/>
            <output message="tns:GetAllPrepaidInstrumentsResponseMsg"
                    wsa:Action="urn:GetAllPrepaidInstruments:Response"/>
        </operation>
        <operation name="GetAccountBalance">
            <input message="tns:GetAccountBalanceRequestMsg"
                   wsa:Action="urn:GetAccountBalance"/>
            <output message="tns:GetAccountBalanceResponseMsg"
                    wsa:Action="urn:GetAccountBalance:Response"/>
        </operation>
       <operation name="GetAccountActivity">
            <input message="tns:GetAccountActivityRequestMsg"
                   wsa:Action="urn:GetAccountActivity"/>
            <output message="tns:GetAccountActivityResponseMsg"
                    wsa:Action="urn:GetAccountActivity:Response"/>
        </operation>
        <operation name="GetTokens">
            <input message="tns:GetTokensRequestMsg"
                   wsa:Action="urn:GetTokens"/>
            <output message="tns:GetTokensResponseMsg"
                    wsa:Action="urn:GetTokens:Response"/>
        </operation>
        <operation name="GetPaymentInstruction">
            <input message="tns:GetPaymentInstructionRequestMsg"
                   wsa:Action="urn:GetPaymentInstruction"/>
            <output message="tns:GetPaymentInstructionResponseMsg"
                    wsa:Action="urn:GetPaymentInstruction:Response"/>
        </operation>
        <operation name="CancelToken">
            <input message="tns:CancelTokenRequestMsg"
                   wsa:Action="urn:CancelToken"/>
            <output message="tns:CancelTokenResponseMsg"
                    wsa:Action="urn:CancelToken:Response"/>
        </operation>
       <operation name="PayBatch">
            <input message="tns:PayBatchRequestMsg"
                   wsa:Action="urn:PayBatch"/>
            <output message="tns:PayBatchResponseMsg"
                    wsa:Action="urn:PayBatch:Response"/>
        </operation>
        
        <operation name="Pay">
            <input message="tns:PayRequestMsg"
                   wsa:Action="urn:Pay"/>
            <output message="tns:PayResponseMsg"
                    wsa:Action="urn:Pay:Response"/>
        </operation>
        
        <operation name="Reserve">
            <input message="tns:ReserveRequestMsg"
                   wsa:Action="urn:Reserve"/>
            <output message="tns:ReserveResponseMsg"
                    wsa:Action="urn:Reserve:Response"/>
        </operation>
        <operation name="Settle">
            <input message="tns:SettleRequestMsg"
                   wsa:Action="urn:Settle"/>
            <output message="tns:SettleResponseMsg"
                    wsa:Action="urn:Settle:Response"/>
        </operation>
        <operation name="Refund">
            <input message="tns:RefundRequestMsg"
                   wsa:Action="urn:Refund"/>
            <output message="tns:RefundResponseMsg"
                    wsa:Action="urn:Refund:Response"/>
        </operation>
        <operation name="GetResults">
            <input message="tns:GetResultsRequestMsg"
                   wsa:Action="urn:GetResults"/>
            <output message="tns:GetResultsResponseMsg"
                    wsa:Action="urn:GetResults:Response"/>
        </operation>
        <operation name="DiscardResults">
            <input message="tns:DiscardResultsRequestMsg"
                   wsa:Action="urn:DiscardResults"/>
            <output message="tns:DiscardResultsResponseMsg"
                    wsa:Action="urn:DiscardResults:Response"/>
        </operation>
        <operation name="GetTransaction">
            <input message="tns:GetTransactionRequestMsg"
                   wsa:Action="urn:GetTransaction"/>
            <output message="tns:GetTransactionResponseMsg"
                    wsa:Action="urn:GetTransaction:Response"/>
        </operation>
  		<operation name="RetryTransaction">
 		     		<input message="tns:RetryTransactionRequestMsg"
               				wsa:Action="urn:RetryTransaction"/>
				<output message="tns:RetryTransactionResponseMsg"
	                       		wsa:Action="urn:RetryTransactionResponse"/>
	        </operation>

        <operation name="GetTokenByCaller">
            <input message="tns:GetTokenByCallerRequestMsg"
                   wsa:Action="urn:GetTokenByCaller"/>
            <output message="tns:GetTokenByCallerResponseMsg"
                    wsa:Action="urn:GetTokenByCaller:Response"/>
        </operation>

    </portType>
    <binding name="AmazonFPSBinding" type="tns:AmazonFPSPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="InstallPaymentInstructionBatch">
            <soap:operation soapAction="urn:InstallPaymentInstructionBatch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InstallPaymentInstruction">
            <soap:operation soapAction="urn:InstallPaymentInstruction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTokenUsage">
            <soap:operation soapAction="urn:GetTokenUsage"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPrepaidBalance">
            <soap:operation soapAction="urn:GetPrepaidBalance"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDebtBalance">
            <soap:operation soapAction="urn:GetDebtBalance"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTotalPrepaidLiability">
            <soap:operation soapAction="urn:GetTotalPrepaidLiability"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOutstandingDebtBalance">
            <soap:operation soapAction="urn:GetOutstandingDebtBalance"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SettleDebt">
            <soap:operation soapAction="urn:SettleDebt"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="WriteOffDebt">
            <soap:operation soapAction="urn:WriteOffDebt"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FundPrepaid">
            <soap:operation soapAction="urn:FundPrepaid"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SubscribeForCallerNotification">
            <soap:operation soapAction="urn:SubscribeForCallerNotification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UnSubscribeForCallerNotification">
            <soap:operation soapAction="urn:UnSubscribeForCallerNotification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAllCreditInstruments">
            <soap:operation soapAction="urn:GetAllCreditInstruments"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAllPrepaidInstruments">
            <soap:operation soapAction="urn:GetAllPrepaidInstruments"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAccountBalance">
            <soap:operation soapAction="urn:GetAccountBalance"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
       <operation name="GetAccountActivity">
            <soap:operation soapAction="urn:GetAccountActivity"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTokens">
            <soap:operation soapAction="urn:GetTokens"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPaymentInstruction">
            <soap:operation soapAction="urn:GetPaymentInstruction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CancelToken">
            <soap:operation soapAction="urn:CancelToken"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PayBatch">
            <soap:operation soapAction="urn:PayBatch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
       <operation name="Pay">
            <soap:operation soapAction="urn:Pay"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Reserve">
            <soap:operation soapAction="urn:Reserve"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Settle">
            <soap:operation soapAction="urn:Settle"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Refund">
            <soap:operation soapAction="urn:Refund"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetResults">
            <soap:operation soapAction="urn:GetResults"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DiscardResults">
            <soap:operation soapAction="urn:DiscardResults"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTransaction">
            <soap:operation soapAction="urn:GetTransaction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
  		<operation name="RetryTransaction">
                        <soap:operation soapAction="urn:RetryTransaction"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                       </output>
        </operation>
        <operation name="GetTokenByCaller">
            <soap:operation soapAction="urn:GetTokenByCaller"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AmazonFPS">
        <port name="AmazonFPSPort" binding="tns:AmazonFPSBinding">
            <soap:address location="https://fps.amazonaws.com"/>
        </port>
    </service>
</definitions>
